body {
  position: relative;
}
ul.nav-pills {
  top: 180px;
  position: fixed;
}
.dropdown:hover>.dropdown-menu{
  display:block;
}
.dropdown>.dropdown-toggle:active{
  pointer-events:none;
}
.text{
  background-image: url(assets/images/zmcselect.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}